<h1 class="text-center">DELETED COURSES</h1>
<a href="/courses/manage">
  <button class="btn btn-sm btn-primary py-2 ml-3 mb-1">Stored courses ({{coursesCount}})</button>
</a>

<form id="multiple-select-form" name="multiple-select-form" action="" method="POST">

<div class="m-3">
  <button
    class="btn btn-secondary select-all"
    id="select-all"
    type="button"
    {{#unless courses}}
    disabled
    {{/unless}}
  >
    Select all
  </button>
  <button class="btn btn-secondary unselect-all" id="unselect-all" type="button" disabled>Unselect all</button>
  <button class="btn btn-success restore-selected" id="restore-selected" type="submit" form="multiple-select-form" disabled>Restore</button>
  <button class="btn btn-danger force-delete-selected" id="force-delete-selected" type="button" data-bs-toggle="modal" data-bs-target="#confirm-multi-force-deletion" disabled>Force Delete</button>
</div>
{{#if courses}}
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Video Id</th>
      </tr>
    </thead>
    <tbody>
        {{#each courses}}
          <tr>
              <td>
                <input type="checkbox" name="courseIds[]" value="{{this._id}}">
              </td>
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.name}}</td>
              <td>{{this.description}}</td>
              <td>{{this.price}}</td>
              <td>{{this.videoId}}</td>
              <td>
                <a href="/courses/restore/{{this._id}}">Restore</a>
                <a href="" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#confirm-force-deletion">
                  Force delete
                </a>
                </td>
          </tr>
        {{/each}}
    </tbody>
  </table>
{{else}}
  <h3 class="">Trashbin is empty!</h3>
{{/if}}
</form>

<div class="modal fade" tabindex="-1" id="confirm-force-deletion">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Force Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to permanently delete this course? You can't undo this</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="confirm-btn" type="button" class="btn btn-primary btn-danger">Force delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="confirm-multi-force-deletion">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Force Delete Selections</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to permanently delete this courses? You can't undo this</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="confirm-multi-force-deletion-btn" type="button" class="btn btn-primary btn-danger">Force delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- Hidden delete form --}}
<form name="delete-course-form" method="POST" action=""></form>

<script>
  const forceDeleteModal = document.getElementById('confirm-force-deletion')
  const confirmBtn = document.getElementById('confirm-btn');
  const confirmMultiDeleteBtn = document.getElementById('confirm-multi-force-deletion-btn');
  const forceDeleteForm = document.forms['delete-course-form'];
  const multiSelectionForm = document.forms['multiple-select-form'];
  const checkboxes = document.querySelectorAll('input[name="courseIds[]"]');
  const selectAllBtn = document.getElementById('select-all');
  const unselectAllBtn = document.getElementById('unselect-all');
  const restoreBtn = document.getElementById('restore-selected');
  const forceDeleteBtn = document.getElementById('force-delete-selected');

  let id = '';

  forceDeleteModal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget;
    id = button.getAttribute('data-id');
  });

  confirmBtn.addEventListener('click', function(event){
   forceDeleteForm.action = `/courses/force-delete/${id}?_method=DELETE`
   forceDeleteForm.submit();
  });

  selectAllBtn.addEventListener('click', function (event) {
    if(!checkboxes.length) {
      event.preventDefault();
      return;
    }

    checkboxes.forEach(checkbox => checkbox.checked = true);
    handleDisplayBtn();
  });

  unselectAllBtn.addEventListener('click', function() {
    if(!checkboxes.length) {
      event.preventDefault();
      return;
    }
    
    checkboxes.forEach(checkbox => checkbox.checked = false);
    handleDisplayBtn();
  });

  checkboxes.forEach(checkbox => {
    checkbox.addEventListener('change', handleDisplayBtn);
  })

  function someHasChecked () {
    const arr = [...checkboxes];
    return arr.some(checkbox => checkbox.checked)
  }
  
  function isAllChecked () {
    const arr = [...checkboxes];
    return arr.every(checkbox => checkbox.checked)
  }

  function handleDisplayBtn () {
    if(isAllChecked()){
      selectAllBtn.setAttribute('disabled', true);
      unselectAllBtn.removeAttribute('disabled');
      restoreBtn.removeAttribute('disabled');
      forceDeleteBtn.removeAttribute('disabled');
      return
    }

    if(someHasChecked()){
      selectAllBtn.removeAttribute('disabled');
      unselectAllBtn.removeAttribute('disabled');
      restoreBtn.removeAttribute('disabled');
      forceDeleteBtn.removeAttribute('disabled');
      return
    }

    selectAllBtn.removeAttribute('disabled');
    unselectAllBtn.setAttribute('disabled', true);
    restoreBtn.setAttribute('disabled', true);
    forceDeleteBtn.setAttribute('disabled', true);
  }

  restoreBtn.addEventListener('click', () => {
    multiSelectionForm.action = '/courses/multi-restore';
    multiSelectionForm.submit();
  })

  confirmMultiDeleteBtn.addEventListener('click', () => {
    multiSelectionForm.action = '/courses/multi-force-delete?_method=DELETE';
    multiSelectionForm.submit();
  })

</script>