<h1 class="text-center">DELETED COURSES</h1>
<a href="/courses/manage">
  <button class="btn btn-sm btn-primary py-2 ml-3 mb-1">Stored courses</button>
</a>
{{#if courses}}
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Video Id</th>
      </tr>
    </thead>
    <tbody>
        {{#each courses}}
          <tr>
              <td scope="row">{{sum @index 1}}</td>
              <td>{{this.name}}</td>
              <td>{{this.description}}</td>
              <td>{{this.price}}</td>
              <td>{{this.videoId}}</td>
              <td>
                <a href="/courses/restore/{{this._id}}">Restore</a>
                <a href="" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#confirm-delete-course">
                  Force delete
                </a>
                </td>
          </tr>
        {{/each}}
    </tbody>
  </table>
{{else}}
  <h3 class="">Trashbin is empty!</h3>
{{/if}}

<div class="modal fade" tabindex="-1" id="confirm-delete-course">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Force Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to permanently delete this course? You can't undo this</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="confirm-btn" type="button" class="btn btn-primary btn-danger">Force delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- Hidden delete form --}}
<form name="delete-course-form" method="POST" action=""></form>

<script>
  const deleteModal = document.getElementById('confirm-delete-course')
  const confirmBtn = document.getElementById('confirm-btn');
  const deleteForm = document.forms['delete-course-form'];
  let id = '';

  deleteModal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget;
    id = button.getAttribute('data-id');
  });

  confirmBtn.addEventListener('click', function(event){
    deleteForm.action = `/courses/force-delete/${id}?_method=DELETE`
    deleteForm.submit();
  });

</script>