<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Video Id</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.videoId}}</td>
            <td><a href="/courses/edit/{{this._id}}">Edit</a> <a data-id="{{this._id}}" href="/courses/delete/{{this._id}}" data-bs-toggle="modal" data-bs-target="#confirm-delete-course">Delete</a></td>
        </tr>
    {{/each}}
  </tbody>
</table>

<div class="modal fade" tabindex="-1" id="confirm-delete-course">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="confirm-btn" type="button" class="btn btn-primary btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- Hidden delete form --}}
<form name="delete-course-form" method="POST" action=""></form>

<script>
  const deleteModal = document.getElementById('confirm-delete-course')
  const confirmBtn = document.getElementById('confirm-btn');
  const deleteForm = document.forms['delete-course-form'];
  let id = '';

  deleteModal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget;
    id = button.getAttribute('data-id');
  });

  confirmBtn.addEventListener('click', function(event){
    deleteForm.action = `/courses/${id}?_method=DELETE`
    deleteForm.submit();
  });

</script>